body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  padding: 10px;
  font-family: 'Arima Madurai', cursive;
}

button{
  border: none;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.hour {
  padding-top:20px;
  background-color: #999393;
  color: #3b3838;
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  font-weight: bold;
}

.past {
  background-color: #c8b8b8;
  color: white;
}

.present {
  background-color:rgba(179, 131, 131, 0.836);
  color: white;
}

.future {
  background-color: rgba(202, 117, 102, 0.774);
  color: white;
}

.saveBtn {
  padding: 10px;
  background-color: white;
  color: white;
  text-align: left;
}
.saveBtn:active, .saveBtn:focus{
  outline: none;
}
.saveBtn i{
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  padding-top: 17px;
  text-align: center;
  background-color:rgba(155, 66, 66, 0.678);
  color: rgb(233, 168, 161);
}
.saveBtn i:hover {
  background-color:rgba(163, 128, 128, 0.678);
  color: rgb(173, 93, 84);
  font-size: 20px;
  transition: all .3s ease-in-out;
}