body {
  font-family: 'Itim', cursive;
  line-height: 1;
  background-color: rgba(250, 242, 242, 0.644);
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  padding: 10px;
  font-family: 'Arima Madurai', cursive;
}

button{
  border: none;
}

.jumbotron {
  text-align: center;
  background-color: rgba(209, 194, 194, 0.301);
  color: rgb(87, 83, 83);
  border-radius: 0;
  border-bottom: 10px solid rgb(82, 80, 80);
}
.lead{
  color: #3b3838;
}
#currentDay {
  font-weight: bolder;
  color: #3b3838;
}
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-top:32px;
  background-color: #999393;
  color: #4b4747;
  font-family: 'Marck Script', cursive;
  font-weight: bolder;
}
.time-block{
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.time-block:focus{
  outline: none;
}
.past {
  background-color: #c8b8b8;
  color: white;
}

.present {
  background-color:rgba(179, 131, 131, 0.836);
  color: white;
}

.future {
  background-color: rgba(202, 117, 102, 0.774);
  color: white;
}

.saveBtn {
  padding: 10px;
  background-color: rgba(250, 242, 242, 0.644);
  color: white;
  text-align: left;
}
.saveBtn:active, .saveBtn:focus{
  outline: none;
}
.saveBtn i{
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  padding-top: 17px;
  text-align: center;
  background-color:rgba(155, 66, 66, 0.678);
  color: rgb(233, 168, 161);
}
.saveBtn i:hover {
  background-color:rgba(163, 128, 128, 0.678);
  color: rgb(173, 93, 84);
  font-size: 20px;
}
.saveBtn i:active{
  background-color: rgba(117, 91, 91, 0.678);
  color: rgb(182, 44, 28);
}
.clearBtn{
  margin: 10px;
  border-radius: 2rem;
  background-color: rgb(226, 219, 219);
  font-family: 'Marck Script', cursive;
  font-weight: bolder;
  height: 40px;
}
.clearBtn:hover{
  background-color: rgb(192, 186, 186);
}
.clearBtn:focus{
  outline: none;
}
.clearBtn:active{
  background-color: rgb(138, 134, 134);
}