body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  padding: 10px;
  font-family: 'Arima Madurai', cursive;
}

button{
  border: none;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding-top:20px;
  background-color: #999393;
  color: #3b3838;
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  font-weight: bold;
}
.time-block{
  cursor: pointer;
}
.time-block:focus{
  outline: none;
}
.past {
  background-color: #c8b8b8;
  color: white;
}

.present {
  background-color:rgba(179, 131, 131, 0.836);
  color: white;
}

.future {
  background-color: rgba(202, 117, 102, 0.774);
  color: white;
}

.saveBtn {
  padding: 10px;
  background-color: white;
  color: white;
  text-align: left;
}
.saveBtn:active, .saveBtn:focus{
  outline: none;
}
.saveBtn i{
  width: 50px;
  height: 50px;
  border-radius: 1rem;
  padding-top: 17px;
  text-align: center;
  background-color:rgba(155, 66, 66, 0.678);
  color: rgb(233, 168, 161);
}
.saveBtn i:hover {
  background-color:rgba(163, 128, 128, 0.678);
  color: rgb(173, 93, 84);
  font-size: 20px;
}
.saveBtn i:active{
  background-color: rgba(117, 91, 91, 0.678);
  color: rgb(182, 44, 28);
}
.clearBtn{
  margin: 10px;
  border-radius: 2rem;
  background-color: rgb(226, 219, 219);
  font-family: 'Marck Script', cursive;
  font-size:1.3rem;
  font-weight: bolder;
}
.clearBtn:hover{
  background-color: rgb(192, 186, 186);
}
.clearBtn:focus{
  outline: none;
}
.clearBtn:active{
  background-color: rgb(138, 134, 134);
}